/* Styling dasar (GLOBAL/DEFAULT - Untuk layar lebih besar dari 480px) */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative; 
    background-color: #f0f0f0; 
}

/* Penengahan global untuk kedua elemen */
.rectangle-7, .new-rectangle {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}

/* Default Styles (Saat TIDAK memenuhi kriteria Mobile) */
.rectangle-7 {
    width: 467px; /* Lebar Asli */
    height: 153px; /* Tinggi Asli */
    top: 0px; 
    background-color: #D9D9D9; 
    background-image: url('background-image.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.new-rectangle {
    width: 467px; /* Lebar Asli (Disamakan) */
    height: 327px; /* Dihitung ulang agar proporsi 70/100 tetap terjaga */
    top: 180px; /* Jarak default dari atas */
    border: 1px solid black; 
    background-color: rgba(255, 165, 0, 0.7);
}

/* ================================== */
/* MEDIA QUERY: Gaya KHUSUS MOBILE (320px hingga 480px) */
/* ================================== */

@media screen and (min-width: 320px) and (max-width: 480px) {
    
    /* Styles untuk RECTANGLE 7 */
    .rectangle-7 {
        width: 80vw; /* Lebar 80% dari viewport */
        height: 26.2vw; /* Tinggi Proporsional */
        /* top: 0px; (Sudah diatur di luar media query) */
    }

    /* Styles untuk ELEMEN BARU */
    .new-rectangle {
        width: 80vw; /* Lebar disamakan dengan 80vw */
        height: 56vw; /* Tinggi Proporsional */
        top: 40vw; /* Jarak dari atas layar mobile */
    }
}